<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <div id="box">
          <h1>An Attempt at a Website</h1>
          <h4>by Andrew James Baker</h4>
          <ul>
            <li><a routerLink="/home" routerLinkActive="active" href="/home">Home</a></li>
            <li><a routerLink="/resume" routerLinkActive="active" href="/resume">Resume</a></li>
            <li><a routerLink="/games" routerLinkActive="active" href="/games">Games</a></li>
            <li></li>
          </ul>
      </div>
      <router-outlet align="center"></router-outlet>
  </body>
</html>
