h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px grey, 1px -1px grey, -1px 1px grey, 1px 1px grey;
  padding-left: 15px;
  padding-right: 6px;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: -1px -1px grey, 1px -1px grey, -1px 1px grey, 1px 1px grey;
}

h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: -1px -1px grey, 1px -1px grey, -1px 1px grey, 1px 1px grey;
}

h4 {
  font-size: 12px;
  padding-top: 6px;
  font-family: Verdana, Helvetica, sans-serif;
}

div#box {
  display: flex;
  align-self: center;
  background: #ccff99;
  margin: 0;
  padding: 0;
  border-bottom-style: solid;
  border-width: 3px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
}

li {
  height: 40px;
  border-width: 1px;
  border-left-style: solid;
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 15px;
  padding-top: 20px;
}
