<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <div id="box">
          <h1>An Attempt at a Website</h1>
          <h4>by Andrew James Baker</h4>
          <ul>
            <li onClick="location.href='home'">Home</li>
            <li onClick="location.href='resume'">Resume</li>
            <li onClick="location.href='games'">Games</li>
            <!--<li onClick="location.href='/games'">Games</li>-->
          </ul>
      </div>
      <router-outlet align="center"></router-outlet>
  </body>
</html>
