<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <div id="box">
          <h1>An Attempt at a Website</h1>
          <h4>by Andrew James Baker</h4>
          <div class="router">
            <a class="routerButton" routerLink="/home" href="/home">Home</a>
            <a class="routerButton" routerLink="/resume" href="/resume">Resume</a>
            <a class="routerButton" routerLink="/games" href="/games">Games</a>
            <a class="routerButton" routerLink="/piano" href="/piano">Piano</a>
            <a class="routerButton" routerLink="/chess" href="/chess">Chess</a>
          </div>
      </div>
      <router-outlet align="center"></router-outlet>
  </body>
</html>
