h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -1px -1px grey, 1px -1px grey, -1px 1px grey, 1px 1px grey;
  padding-left: 15px;
  padding-right: 5px;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: -1px -1px grey, 1px -1px grey, -1px 1px grey, 1px 1px grey;
}

h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: -1px -1px grey, 1px -1px grey, -1px 1px grey, 1px 1px grey;
}

h4 {
  padding-top: 12px;
  font-family: Verdana, Helvetica, sans-serif;
}

div#box {
  display: flex;
  align-self: center;
  background: #ccff99;
  margin: 0;
  padding: 0;
}
